html[data-theme=dark-vampire] {
    --text-color-1: #800000;
    --text-color-2: #880000;
    --text-color-3: #ff0000;
    --text-color-4: #1400EE;
    --text-color-5: #8d765a;
    --field-color-1: #663399;
    --field-color-2: #1C1C1C;
    --border-color-1: #D9BFB7;
    --bg-color-1: #1C1C1C;
    --bg-color-2: #363636;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
    font-size: 13px;
    min-height: 100%;
    line-height: 1.25;
    background-image: linear-gradient(var(--bg-color-1), var(--bg-color-2) 200px);
  }
  
  body {
    margin: 0;
    padding: 0.5rem;
  }
  
  ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  figure {
    margin: 0;
  }
  
  blockquote {
    margin: 0;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
  
  p {
    margin: 0;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img, video {
    vertical-align: top;
  }
  
  button, input, select, option {
    font-size: 1rem;
  }
  
  hr {
    border: none;
    border-top: 1px solid var(--border-color-1);
    width: 100%;
    margin: 0;
  }
  
  img, video {
    max-width: 100%;
  }
  
  form {
    display: contents;
  }
  
  form label {
    display: block;
    margin-bottom: 0.25rem;
  }
  
  form input[type=text],
  form input[type=submit],
  form select,
  form button {
    padding: 0.25rem;
  }
  
  form input[type=submit],
  form button:not(:disabled) {
    cursor: pointer;
  }
  
  dl, dt, dd {
    margin: 0;
  }
  
  address-form {
    display: contents;
  }
  
  .Box {
    width: 100%;
    max-width: calc(800px + 2rem);
    margin: auto;
    border: 1px solid var(--text-color-2);
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .Box-header {
    background-color: var(--field-color-1);
    color: var(--text-color-2);
    padding: 8px;
    border-radius: 5px 5px 0 0;
  }
  
  .Box-body {
    padding: 10px;
    background: white;
  }
  
  .Box--announcement .Box-header {
    background-color: var(--text-color-2);
    color: white;
  }
  
  .Box--announcement p:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .Box--faq .Box-header {
    background-color: var(--field-color-1);
    color: var(--text-color-2);
  }
  
  .Box--faq .Box-body {
    background-color: var(--bg-color-2);
  }
  
  /* CSS code with modification to make images not clickable */
  .FilePreview {
    cursor: default;
    float: left;
    margin-top: 0.25rem;
    display: block;
    pointer-events: none;
  }
  
  .FilePreview.is-expanded {
    clear: both;
    float: revert;
    position: relative;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  .FilePreview:not(.is-expanded) {
    margin-right: 1rem;
  }
  
  .Post--op .FilePreview {
    margin-bottom: 0.5rem;
  }
  
  .Post--reply .FilePreview:not(.is-expanded) video {
    max-width: 125px;
    max-height: 125px;
  }
  
  .Post--op .FilePreview:not(.is-expanded) video {
    max-width: 250px;
    max-height: 250px;
  }
  
  .Header {
    text-align: center;
  }
  
  .Header--home {
    margin-bottom: 1rem;
  }
  
  .Header h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .Thread {
    clear: both;
  }
  
  .Thread:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .Thread-header a {
    color: var(--text-color-4);
    text-decoration: underline;
  }
  
  .Thread-header a:hover {
    color: red;
  }
  
  .Thread-summary {
    color: var(--text-color-5);
  }
  
  .Thread-summary img {
    height: 1.25rem;
    width: auto;
  }
  
  .Thread-summary a {
    color: var(--text-color-4);
  }
  
  .Thumbnail {
    text-align: center;
    display: inline-block;
    padding: 1rem;
    width: 200px;
    max-width: calc(50% - 1rem);
  }
  
  .Thumbnail img,
  .Thumbnail video {
    margin: auto;
  }
  
  .Thumbnail--thread img,
  .Thumbnail--thread video {
    border: 1px solid var(--text-color-2);
  }

  